<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Secret Klerb</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(204, 167, 173);
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      input {
        height: 100px;
        width: 400px;
        font-size: 90px;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <% if(user){ %>
    <h1>Password, betches</h1>
    <form method="POST" action="/club">
      <input type="hidden" name="username" value="club@membership.com" />
      <input type="password" name="password" /><br />
      <button style="width: 200px; height: 50px" type="submit">Enter</button>
    </form>
    <h2>Join the club and you'll know who wrote what!</h2>
    <% } else { %>
    <h3>Sorry babe, you aren't authorized to post a message.</h3>
    <p><a href="/signup">Signup first</a></p>
    <% } %>
  </body>
</html>
