<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Secret Klerb</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      input {
        height: 100px;
        width: 400px;
        font-size: 90px;
      }
    </style>
  </head>
  <body>
    <h1>Enter the password, Betches</h1>
    <form method="POST" action="/club">
      <input type="hidden" name="username" value="club@membership.com" />
      <input type="password" name="password" />
      <button type="submit">Enter</button>
    </form>
  </body>
</html>
