<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Burn someone</title>
  </head>
  <body>
    <% if(user){ %>
    <h1>Write mean things.</h1>
    <div
      style="
        border-style: solid;
        border-color: black;
        border-width: 1px;
        padding: 20px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      "
    ><form action="/newmessage" method="POST">
        <input type="hidden" name="author" id="author" value="<%=user.username%>"></input>
        No one will know, <b> <%=user.username%></b><Br><br>
        <label for="title">Girl:</label><br>
        <input type="text" name="title" id="title"></input><br>
        <label for="message">Message:</label><br>
        <textarea style="width:350px;height:100px;" type="text" name="message" id="message"></textarea><br>
        <button type="submit">Burn it</button>
    </form></div>
    <% } else { %>
        <div style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;">
          
    <h3>Sorry babe, you aren't authorized to post a message.</h3>
    <p><a href="/signup">Signup first</a></p></div>
    <% } %>
  </body>
</html>
