<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up to write a message</title>
    <style>
      body {
        background-color: rgb(204, 167, 173);
      }
      form {
        width: 350px;
        padding: 30px 50px 30px 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        margin-left: 30px;
      }
      label {
        grid-column: 1/2;
        text-align: right;
        margin-right: 20px;
      }
      input {
        margin-left: 10px;
        grid-column: 2/3;
      }
      .check {
        justify-self: left;
        width: 20px;
        height: 20px;
      }
      button {
        align-self: center;
        grid-column: 2 / 3;
        margin-left: 5px;
        width: 100px;
      }
    </style>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/signup" method="POST">
      <label for="firstName">First Name: </label
      ><input id="firstName" type="text" name="firstName" required /><br />
      <label for="lastName">Last Name: </label>
      <input type="text" name="lastName" id="lastName" required />
      <br />
      <label for="email">Email: </label
      ><input id="email" type="email" name="username" required /><br />
      <label for="pw">Password: </label>
      <input type="password" name="password" id="pw" required /><br />
      <label for="confirm">Confirm PW: </label>
      <input type="password" name="confirm" id="confirm" required /><br />
      <label for="admin">Is that you, Regina?</label>
      <input
        class="check"
        type="checkbox"
        name="admin"
        id="admin"
        value="yes"
      /><br />
      <label for="but"></label><button type="submit" id="but">Submit</button>
    </form>
  </body>
</html>
